<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylsposedmodule">

    <application
        android:allowBackup="false"
        android:label="My LSPosed Module"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Module chỉnh sửa prop ứng dụng" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>

</manifest>
